# IDE
*.user
.idea
*.cbp
.vscode
env/
.cache/

# Google tests
googletest-build/
googletest-download/
googletest-src/
lib/

# Cmake
CMakeCache.txt
CMakeFiles/
cmake-build*
cmake_install.cmake
cmake_deps/
build/
/build-*/

# raw benchmark results
#raw_results/

sandbox/
